/** @format */

body {
  height: 100vh;
}
.header__logo {
  width: 130px;
  height: 130px;
}

main {
  margin-top: 20px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.main__text {
  font-size: 20px;
  font-weight: 600;
  color: red;
  margin-top: 30px;
}

.active {
  display: block;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-items {
  display: flex;
  justify-content: center;
}

#create-visit-btn {
  display: none;
}
.no-visit-text {
  display: none;
}

.card-width {
  min-width: 250px;
  max-width: 400px;
  margin: 10px;
}

.cards-wrapper {
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.small-buttons-container {
  display: flex;
  justify-content: end;
}
.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
